

button{
  margin-top: 20px;
  height: 30px;
}

@media (max-width: 900px){
  .search-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button{
  width: 60px;
}
.btn .btn-warning .btn-lg{
  width: 60px;
}
}